
html {
  font-family: 'Times New Roman', Times, serif;
  background-color: #de2323;
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: 50px auto;
  border-radius: 15px;
  padding: 30px;
}



label {

  color: aqua;
  opacity: 90%;
  border-radius: 50px;
}
input {

  color: aqua;
  opacity: 90%;
  border-radius: 10px;
  padding: 1px 10px;
}
.row
{
  display: inline-block;
  padding: 10px 20px;
  background-color: #333 ;
  color: aqua;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  opacity: 90%;
}
.form-control
{
  background-color:rgba(195, 194, 194, 0.9);
  text-align: center;
  font-size: 29px;
  opacity: 30;
  color: #333 ;
  border-bottom: 1px solid #f9f3f3;
  padding-bottom: 2px;
  margin-bottom: 5px;
  display: flex;
}
button[type="submit"] {
  cursor:pointer;
  border:none;
  background:#991D57;
  background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  color:#FFF;
  margin:0 20 5px;
  padding:10px;
  width: 250px;
  border-radius:5px;
  align-items:  center;
  padding: 16px 32px 16px;
  width: 300px;
  right: 70px;
  position: relative;
  font-size: 29px;
}

